<nav>
    <a routerLink="/">
        <img src="./assets/logos/apmp.svg" alt="apmp-logo">
    </a>
    <a href="" class="navlink">Your plan</a>
    <a href="" class="navlink">Assets portal</a>
    <a href="" class="navlink">Data room</a>
    <span class="navlink">
        <!-- <label for="profile">Profile</label> -->
        <select name="profile" id="profile">
            <option value="">Profile</option>
            <option value="value1">value1</option>
            <option value="value2">value2</option>
        </select>
        <i class="fa-sharp fa-solid fa-caret-down"></i>
    </span>
</nav>