@use './../../styles.scss' as theme;

// @TODO: under 500px, switch navbar to a burger menu

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-start;
    gap: 25px;
    margin-bottom: 36px;
    margin-top: 35px;
    width: theme.$contentMaxWidth;
    max-width: 100vw;
}

nav > a {
    display: flex;
}

.navlink {
    text-decoration: none;
    cursor: pointer;
}

select {
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    appearance: none;
    width: fit-content;
}