<head>
    <title>Quizz - Home office</title>
    <script src="https://kit.fontawesome.com/f5e6e85fce.js" crossorigin="anonymous"></script>
</head>
<body>

    

    <div class="question-card">

        <div class="illustration-section">
            <h3 class="card-title">Question de compatibilité</h3>
            <img src="./assets/images/compatibilite.svg" alt="">
        </div>

        <div class="question-section">

            <h2 class="question-title">Quelle habitude de télétravail devez vous absolument retirer ?</h2>
            <div class="answers-container">
                <span class="label-and-box-container">
                    <input type="checkbox" name="alcool" id="alcool">
                    <label for="alcool">Boire de l'alcool</label>
                </span>
                
                <span class="label-and-box-container">
                    <input type="checkbox" name="cookies" id="cookies">
                    <label for="cookie">Manger des cookies</label>
                </span>
                
                <span class="label-and-box-container">
                    <input type="checkbox" name="emails" id="emails">
                    <label for="emails">Vérifier mes e-mails chaque matin</label>
                </span>
                
                <span class="label-and-box-container">
                    <input type="checkbox" name="BK" id="BK">
                    <label for="BK">Manger BK</label>
                </span>
                
                <span class="label-and-box-container">
                    <input type="checkbox" name="douche" id="douche">
                    <label for="douche">Prendre une douche avant de démarrer le travail</label>
                </span>
            </div>

            <div class="cards-nav">
                <span class="card-nav-section card-nav-item" id="skip">
                    Passer
                    <img src="./assets/icons/skip.svg" alt="">
                </span>
                <span class="card-nav-section">
                    <span class="card-nav-item" id="previous">
                        <img src="./assets/icons/previous.svg" alt="">
                        Précédent
                    </span>
                    <span class="card-nav-item" id="next">
                        Suivant
                        <img src="./assets/icons/next.svg" alt="">
                    </span>
                </span>
            </div>
        </div>

    </div>
    
</body>