<h1 class="page-title">Quizz available for your profile</h1>
<p class="page-subtitle">
    Select a quizz, and answer the list of questions. <br>
    Once you have finished, you can go back to your profile page to see the overall progress.
</p>


<div id="categories-container">
    <app-quizz-categories *ngFor="let category of categories" [category]="category"></app-quizz-categories>
</div>

<div id="quizz-cards-container">
    <app-quizz-card *ngFor="let quizz of quizzes" [quizz]="quizz"></app-quizz-card>
</div>