<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizz - Home page</title>
    <script src="https://kit.fontawesome.com/f5e6e85fce.js" crossorigin="anonymous"></script>
</head>

<body>
    
    
    <app-navbar></app-navbar>
    
    <h1 class="page-title">Quizz available for your profile</h1>
    <p class="page-subtitle">
        Select a quizz, and answer the list of questions. <br>
        Once you have finished, you can go back to your profile page to see the overall progress.
    </p>

    
    <app-quizz-categories></app-quizz-categories>

    <div id="quizz-cards-container">
        <app-quizz-card></app-quizz-card>
    </div>
    
    <app-question-card></app-question-card>
    
</body>


<router-outlet></router-outlet>
