@use './../../../styles.scss' as theme;

.category {
    font-size: 1.25rem;
    font-weight: 400;
    cursor: pointer;
    text-transform: capitalize;
}

.category:first-child {
    margin-left: 3px;
    margin-right: 7px;
}

.category.active {
    font-weight: 700;
}

.category.active:after {
    content: "";
    position: absolute;
    background-color: #FF0000;
    color: #FF0000;
    border-radius: 50%;
    height: 7px;
    width: 7px;
    transform: translateX(2px) translateY(2px);
}
